In [1]:
# Import necessary libraries
import pandas as pd
from pathlib import Path

In [2]:
# Set path to data
cost_of_living_path = Path('Raw_Data/cost_of_living_index.csv')

In [3]:
# Read in CSV file
col_data = pd.read_csv(cost_of_living_path)

In [4]:
# Check col_data
col_data.head()

         City State  Cost of Living Index
0     Abilene    TX                  89.1
1      Adrian    MI                  90.5
2       Akron    OH                  89.4
3  Alamogordo    NM                  85.8
4      Albany    GA                  87.3

In [5]:
# Filter data into the major cities
city_search = ['New York',
               'Los Angeles',
               'Chicago',
               'Houston',
               'Phoenix',
               'Philadelphia',
               'San Antonio',
               'San Diego',
               'Dallas',
               'San Jose',
               'Austin',
               'Jacksonville',
               'Fort Worth',
               'Columbus',
               'Indianapolis',
               'Charlotte',
               'San Francisco',
               'Seattle',
               'Denver',
               'Washington',
               'Nashville',
               'Oklahoma City',
               'El Paso',
               'Boston',
               'Portland'
]

# Search for names of cities in col_data
filtered_col_data = col_data[(col_data['City'].str.contains('|'.join(city_search)))]

# Check filtered_col_data
filtered_col_data

                 City State  Cost of Living Index
29             Austin    TX                 106.6
51             Boston    MA                 132.6
74          Charlotte    NC                  97.9
75    Charlottesville    VA                 102.1
78            Chicago    IL                 100.1
93           Columbus    GA                  88.5
94           Columbus    IN                  89.1
95           Columbus    OH                  93.9
110            Denver    CO                 112.1
123           El Paso    TX                  88.6
150        Fort Worth    TX                 100.2
189           Houston    TX                  95.8
196      Indianapolis    IN                  90.2
202      Jacksonville    FL                  99.0
203      Jacksonville    NC                  91.7
300         Nashville    TN                 100.1
305  New Philadelphia    OH                  88.9
306          New York    NY                 128.0
315     Oklahoma City    OK                  87.3
332      Philadelphia    PA                 103.4
333           Phoenix    AZ                 104.3
341          Portland    ME                 113.0
342          Portland    OR                 116.5
378       San Antonio    TX                  92.7
379         San Diego    CA                 136.2
380     San Francisco    CA                 178.6
381          San Jose    CA                 173.5
390           Seattle    WA                 124.6
455        Washington    DC                 120.1
486       Los Angeles    CA                 140.6
494            Dallas    TX                  98.5

In [6]:
# Filter data by appropriate states
states_search = ['NY',
                 'CA',
                 'TX',
                 'AZ',
                 'PA',
                 'FL',
                 'OH',
                 'IN',
                 'IL',
                 'NC',
                 'WA',
                 'CO',
                 'TN',
                 'OK',
                 'MA',
                 'OR',
                 'DC'
]

# Search for states
filtered_col_data = filtered_col_data[(filtered_col_data['State'].str.contains('|'.join(states_search)))]

#Check filtered_col_data
filtered_col_data

                 City State  Cost of Living Index
29             Austin    TX                 106.6
51             Boston    MA                 132.6
74          Charlotte    NC                  97.9
78            Chicago    IL                 100.1
94           Columbus    IN                  89.1
95           Columbus    OH                  93.9
110            Denver    CO                 112.1
123           El Paso    TX                  88.6
150        Fort Worth    TX                 100.2
189           Houston    TX                  95.8
196      Indianapolis    IN                  90.2
202      Jacksonville    FL                  99.0
203      Jacksonville    NC                  91.7
300         Nashville    TN                 100.1
305  New Philadelphia    OH                  88.9
306          New York    NY                 128.0
315     Oklahoma City    OK                  87.3
332      Philadelphia    PA                 103.4
333           Phoenix    AZ                 104.3
342          Portland    OR                 116.5
378       San Antonio    TX                  92.7
379         San Diego    CA                 136.2
380     San Francisco    CA                 178.6
381          San Jose    CA                 173.5
390           Seattle    WA                 124.6
455        Washington    DC                 120.1
486       Los Angeles    CA                 140.6
494            Dallas    TX                  98.5

In [7]:
filtered_col_data = filtered_col_data.reset_index()

filtered_col_data = filtered_col_data.drop([4, 12, 14])

filtered_col_data

    index           City State  Cost of Living Index
0      29         Austin    TX                 106.6
1      51         Boston    MA                 132.6
2      74      Charlotte    NC                  97.9
3      78        Chicago    IL                 100.1
5      95       Columbus    OH                  93.9
6     110         Denver    CO                 112.1
7     123        El Paso    TX                  88.6
8     150     Fort Worth    TX                 100.2
9     189        Houston    TX                  95.8
10    196   Indianapolis    IN                  90.2
11    202   Jacksonville    FL                  99.0
13    300      Nashville    TN                 100.1
15    306       New York    NY                 128.0
16    315  Oklahoma City    OK                  87.3
17    332   Philadelphia    PA                 103.4
18    333        Phoenix    AZ                 104.3
19    342       Portland    OR                 116.5
20    378    San Antonio    TX                  92.7
21    379      San Diego    CA                 136.2
22    380  San Francisco    CA                 178.6
23    381       San Jose    CA                 173.5
24    390        Seattle    WA                 124.6
25    455     Washington    DC                 120.1
26    486    Los Angeles    CA                 140.6
27    494         Dallas    TX                  98.5

In [8]:
# Drop level_0 and index columns
filtered_col_data = filtered_col_data.drop(columns=['index'])
filtered_col_data

             City State  Cost of Living Index
0          Austin    TX                 106.6
1          Boston    MA                 132.6
2       Charlotte    NC                  97.9
3         Chicago    IL                 100.1
5        Columbus    OH                  93.9
6          Denver    CO                 112.1
7         El Paso    TX                  88.6
8      Fort Worth    TX                 100.2
9         Houston    TX                  95.8
10   Indianapolis    IN                  90.2
11   Jacksonville    FL                  99.0
13      Nashville    TN                 100.1
15       New York    NY                 128.0
16  Oklahoma City    OK                  87.3
17   Philadelphia    PA                 103.4
18        Phoenix    AZ                 104.3
19       Portland    OR                 116.5
20    San Antonio    TX                  92.7
21      San Diego    CA                 136.2
22  San Francisco    CA                 178.6
23       San Jose    CA                 173.5
24        Seattle    WA                 124.6
25     Washington    DC                 120.1
26    Los Angeles    CA                 140.6
27         Dallas    TX                  98.5

In [9]:
# Combine city and state columns
filtered_col_data['Metropolitan/FMR Area Name'] = filtered_col_data['City'] + ', ' + filtered_col_data['State']
filtered_col_data

             City State  Cost of Living Index Metropolitan/FMR Area Name
0          Austin    TX                 106.6                 Austin, TX
1          Boston    MA                 132.6                 Boston, MA
2       Charlotte    NC                  97.9              Charlotte, NC
3         Chicago    IL                 100.1                Chicago, IL
5        Columbus    OH                  93.9               Columbus, OH
6          Denver    CO                 112.1                 Denver, CO
7         El Paso    TX                  88.6                El Paso, TX
8      Fort Worth    TX                 100.2             Fort Worth, TX
9         Houston    TX                  95.8                Houston, TX
10   Indianapolis    IN                  90.2           Indianapolis, IN
11   Jacksonville    FL                  99.0           Jacksonville, FL
13      Nashville    TN                 100.1              Nashville, TN
15       New York    NY                 128.0               New York, NY
16  Oklahoma City    OK                  87.3          Oklahoma City, OK
17   Philadelphia    PA                 103.4           Philadelphia, PA
18        Phoenix    AZ                 104.3                Phoenix, AZ
19       Portland    OR                 116.5               Portland, OR
20    San Antonio    TX                  92.7            San Antonio, TX
21      San Diego    CA                 136.2              San Diego, CA
22  San Francisco    CA                 178.6          San Francisco, CA
23       San Jose    CA                 173.5               San Jose, CA
24        Seattle    WA                 124.6                Seattle, WA
25     Washington    DC                 120.1             Washington, DC
26    Los Angeles    CA                 140.6            Los Angeles, CA
27         Dallas    TX                  98.5                 Dallas, TX

In [10]:
# Drop City and State columns
filtered_col_data = filtered_col_data.drop(columns=['City', 'State']).set_index('Metropolitan/FMR Area Name')
filtered_col_data

                            Cost of Living Index
Metropolitan/FMR Area Name
Austin, TX                                 106.6
Boston, MA                                 132.6
Charlotte, NC                               97.9
Chicago, IL                                100.1
Columbus, OH                                93.9
Denver, CO                                 112.1
El Paso, TX                                 88.6
Fort Worth, TX                             100.2
Houston, TX                                 95.8
Indianapolis, IN                            90.2
Jacksonville, FL                            99.0
Nashville, TN                              100.1
New York, NY                               128.0
Oklahoma City, OK                           87.3
Philadelphia, PA                           103.4
Phoenix, AZ                                104.3
Portland, OR                               116.5
San Antonio, TX                             92.7
San Diego, CA                              136.2
San Francisco, CA                          178.6
San Jose, CA                               173.5
Seattle, WA                                124.6
Washington, DC                             120.1
Los Angeles, CA                            140.6
Dallas, TX                                  98.5

In [11]:
# Reset index
filtered_col_data = filtered_col_data.reset_index()
filtered_col_data

   Metropolitan/FMR Area Name  Cost of Living Index
0                  Austin, TX                 106.6
1                  Boston, MA                 132.6
2               Charlotte, NC                  97.9
3                 Chicago, IL                 100.1
4                Columbus, OH                  93.9
5                  Denver, CO                 112.1
6                 El Paso, TX                  88.6
7              Fort Worth, TX                 100.2
8                 Houston, TX                  95.8
9            Indianapolis, IN                  90.2
10           Jacksonville, FL                  99.0
11              Nashville, TN                 100.1
12               New York, NY                 128.0
13          Oklahoma City, OK                  87.3
14           Philadelphia, PA                 103.4
15                Phoenix, AZ                 104.3
16               Portland, OR                 116.5
17            San Antonio, TX                  92.7
18              San Diego, CA                 136.2
19          San Francisco, CA                 178.6
20               San Jose, CA                 173.5
21                Seattle, WA                 124.6
22             Washington, DC                 120.1
23            Los Angeles, CA                 140.6
24                 Dallas, TX                  98.5

In [15]:
# Change Washington D.C. format to match other tables
filtered_col_data['Metropolitan/FMR Area Name'].replace({'Washington, DC': 'Washington D.C.'}, inplace=True)
filtered_col_data

   Metropolitan/FMR Area Name  Cost of Living Index
0                  Austin, TX                 106.6
1                  Boston, MA                 132.6
2               Charlotte, NC                  97.9
3                 Chicago, IL                 100.1
4                Columbus, OH                  93.9
5                  Denver, CO                 112.1
6                 El Paso, TX                  88.6
7              Fort Worth, TX                 100.2
8                 Houston, TX                  95.8
9            Indianapolis, IN                  90.2
10           Jacksonville, FL                  99.0
11              Nashville, TN                 100.1
12               New York, NY                 128.0
13          Oklahoma City, OK                  87.3
14           Philadelphia, PA                 103.4
15                Phoenix, AZ                 104.3
16               Portland, OR                 116.5
17            San Antonio, TX                  92.7
18              San Diego, CA                 136.2
19          San Francisco, CA                 178.6
20               San Jose, CA                 173.5
21                Seattle, WA                 124.6
22            Washington D.C.                 120.1
23            Los Angeles, CA                 140.6
24                 Dallas, TX                  98.5

In [16]:
filtered_col_data.to_csv('Clean_Data/clean_col_data.csv', index=False)