In [1]:
# Import necessary
import pandas as pd
from pathlib import Path

In [2]:
# Set Path to data
housing_path = Path('Raw_Data/Housing_Data.csv')
rent_path = Path('Raw_Data/Fair_Market_Rent_Data.csv')

In [3]:
# Read in CSV files
housing_data = pd.read_csv(housing_path)
rent_data = pd.read_csv(rent_path)

In [4]:
# Check housing_data
housing_data.head()

,State,County Name,Metropolitan/FMR Area Name,1-Unit,2-unit,3-unit,4-unit,Unadjusted Median Value,Years Worth of Sales Data*,Number of Sales for Unadjusted Median**,...,4-unit.1,Unadjusted Median Value.1,Years Worth of Sales Data*.1,Number of Sales for Unadjusted Median**.1,Geographic Area Used.1,Metropolitan/FMR Area Name.1,Unnamed: 20,state2,metro_code,fipscounty
0,AL,Jefferson County,"Birmingham-Hoover, AL HUD Metro FMR Area","$199,000","$254,000","$308,000","$381,000","$209,000",1,"4,476",...,"$467,000","$256,000",1,0,Non-Metro US,1,METRO13820M13820,1073,NaN,NaN
1,AL,St. Clair County,"Birmingham-Hoover, AL HUD Metro FMR Area","$195,000","$250,000","$302,000","$375,000","$205,400",1,727,...,"$467,000","$256,000",1,0,Non-Metro US,1,METRO13820M13820,1115,NaN,NaN
2,AL,Shelby County,"Birmingham-Hoover, AL HUD Metro FMR Area","$202,000","$258,000","$313,000","$388,000","$212,550",1,"1,500",...,"$467,000","$256,000",1,0,Non-Metro US,1,METRO13820M13820,1117,NaN,NaN
3,AL,Chilton County,"Chilton County, AL HUD Metro FMR Area","$150,000","$193,000","$233,000","$289,000","$158,350",1,"4,130",...,"$467,000","$256,000",1,0,Non-Metro US,1,METRO13820N01021,1021,NaN,NaN
4,AL,Walker County,"Walker County, AL HUD Metro FMR Area","$150,000","$193,000","$233,000","$289,000","$158,350",1,"4,130",...,"$467,000","$256,000",1,0,Non-Metro US,1,METRO13820N01127,1127,NaN,NaN

In [5]:
# Rename columns names for rent_data
rent_columns = ['id', 'studio rent', '1 bdrm rent', '2 bdrm rent', '3 bdrm rent', '4 bdrm rent', 'state id', 'metro id', 'area name', 'county code', 'cousub', 'county name', 'county town name', 'population', 'state', 'metro']
rent_data.columns = rent_columns
rent_data.head()

,id,studio rent,1 bdrm rent,2 bdrm rent,3 bdrm rent,4 bdrm rent,state id,metro id,area name,county code,cousub,county name,county town name,population,state,metro
0,100199999,640,766,908,1148,1520,1,METRO33860M33860,"Montgomery, AL MSA",1,99999,Autauga County,Autauga County,55035,AL,1
1,100399999,718,723,922,1249,1584,1,METRO19300M19300,"Daphne-Fairhope-Foley, AL MSA",3,99999,Baldwin County,Baldwin County,203360,AL,1
2,100599999,488,492,648,806,907,1,NCNTY01005N01005,"Barbour County, AL",5,99999,Barbour County,Barbour County,26200,AL,0
3,100799999,817,871,1002,1303,1409,1,METRO13820M13820,"Birmingham-Hoover, AL HUD Metro FMR Area",7,99999,Bibb County,Bibb County,22580,AL,1
4,100999999,817,871,1002,1303,1409,1,METRO13820M13820,"Birmingham-Hoover, AL HUD Metro FMR Area",9,99999,Blount County,Blount County,57665,AL,1

In [6]:
# Drop unneccessary columns from housing_data
housing_data = housing_data.drop(columns=['Unadjusted Median Value', 'Years Worth of Sales Data*', 'Number of Sales for Unadjusted Median**', 'Years Worth of Sales Data*.1', 'Number of Sales for Unadjusted Median**.1', 'Geographic Area Used.1', 'Metropolitan/FMR Area Name.1'])
housing_data.head()

,State,County Name,Metropolitan/FMR Area Name,1-Unit,2-unit,3-unit,4-unit,Geographic Area Used,1-Unit.1,2-unit.1,3-unit.1,4-unit.1,Unadjusted Median Value.1,Unnamed: 20,state2,metro_code,fipscounty
0,AL,Jefferson County,"Birmingham-Hoover, AL HUD Metro FMR Area","$199,000","$254,000","$308,000","$381,000",County,"$243,000","$311,000","$377,000","$467,000","$256,000",METRO13820M13820,1073,NaN,NaN
1,AL,St. Clair County,"Birmingham-Hoover, AL HUD Metro FMR Area","$195,000","$250,000","$302,000","$375,000",County,"$243,000","$311,000","$377,000","$467,000","$256,000",METRO13820M13820,1115,NaN,NaN
2,AL,Shelby County,"Birmingham-Hoover, AL HUD Metro FMR Area","$202,000","$258,000","$313,000","$388,000",County,"$243,000","$311,000","$377,000","$467,000","$256,000",METRO13820M13820,1117,NaN,NaN
3,AL,Chilton County,"Chilton County, AL HUD Metro FMR Area","$150,000","$193,000","$233,000","$289,000",Non-Metro State,"$243,000","$311,000","$377,000","$467,000","$256,000",METRO13820N01021,1021,NaN,NaN
4,AL,Walker County,"Walker County, AL HUD Metro FMR Area","$150,000","$193,000","$233,000","$289,000",Non-Metro State,"$243,000","$311,000","$377,000","$467,000","$256,000",METRO13820N01127,1127,NaN,NaN

In [7]:
# Drop unneccessary columns from housing_data
housing_data = housing_data.drop(columns=['Geographic Area Used', 'Unadjusted Median Value.1', 'state2', 'fipscounty', 'metro_code'])
housing_data.head()

,State,County Name,Metropolitan/FMR Area Name,1-Unit,2-unit,3-unit,4-unit,1-Unit.1,2-unit.1,3-unit.1,4-unit.1,Unnamed: 20
0,AL,Jefferson County,"Birmingham-Hoover, AL HUD Metro FMR Area","$199,000","$254,000","$308,000","$381,000","$243,000","$311,000","$377,000","$467,000",METRO13820M13820
1,AL,St. Clair County,"Birmingham-Hoover, AL HUD Metro FMR Area","$195,000","$250,000","$302,000","$375,000","$243,000","$311,000","$377,000","$467,000",METRO13820M13820
2,AL,Shelby County,"Birmingham-Hoover, AL HUD Metro FMR Area","$202,000","$258,000","$313,000","$388,000","$243,000","$311,000","$377,000","$467,000",METRO13820M13820
3,AL,Chilton County,"Chilton County, AL HUD Metro FMR Area","$150,000","$193,000","$233,000","$289,000","$243,000","$311,000","$377,000","$467,000",METRO13820N01021
4,AL,Walker County,"Walker County, AL HUD Metro FMR Area","$150,000","$193,000","$233,000","$289,000","$243,000","$311,000","$377,000","$467,000",METRO13820N01127

In [8]:
# Rename Unnamed:20 column
housing_data = housing_data.rename(columns={'Unnamed: 20': 'metro id'})
housing_data.head()

,State,County Name,Metropolitan/FMR Area Name,1-Unit,2-unit,3-unit,4-unit,1-Unit.1,2-unit.1,3-unit.1,4-unit.1,metro id
0,AL,Jefferson County,"Birmingham-Hoover, AL HUD Metro FMR Area","$199,000","$254,000","$308,000","$381,000","$243,000","$311,000","$377,000","$467,000",METRO13820M13820
1,AL,St. Clair County,"Birmingham-Hoover, AL HUD Metro FMR Area","$195,000","$250,000","$302,000","$375,000","$243,000","$311,000","$377,000","$467,000",METRO13820M13820
2,AL,Shelby County,"Birmingham-Hoover, AL HUD Metro FMR Area","$202,000","$258,000","$313,000","$388,000","$243,000","$311,000","$377,000","$467,000",METRO13820M13820
3,AL,Chilton County,"Chilton County, AL HUD Metro FMR Area","$150,000","$193,000","$233,000","$289,000","$243,000","$311,000","$377,000","$467,000",METRO13820N01021
4,AL,Walker County,"Walker County, AL HUD Metro FMR Area","$150,000","$193,000","$233,000","$289,000","$243,000","$311,000","$377,000","$467,000",METRO13820N01127

In [9]:
# Drop unneccessary columns for rent_data
rent_data = rent_data.drop(columns=['id', 'state id', 'county code', 'cousub', 'county town name', 'population', 'metro'])
rent_data.head()

,studio rent,1 bdrm rent,2 bdrm rent,3 bdrm rent,4 bdrm rent,metro id,area name,county name,state
0,640,766,908,1148,1520,METRO33860M33860,"Montgomery, AL MSA",Autauga County,AL
1,718,723,922,1249,1584,METRO19300M19300,"Daphne-Fairhope-Foley, AL MSA",Baldwin County,AL
2,488,492,648,806,907,NCNTY01005N01005,"Barbour County, AL",Barbour County,AL
3,817,871,1002,1303,1409,METRO13820M13820,"Birmingham-Hoover, AL HUD Metro FMR Area",Bibb County,AL
4,817,871,1002,1303,1409,METRO13820M13820,"Birmingham-Hoover, AL HUD Metro FMR Area",Blount County,AL

In [10]:
# Check for null values in rent_data
rent_data.isnull().sum()

studio rent    0
1 bdrm rent    0
2 bdrm rent    0
3 bdrm rent    0
4 bdrm rent    0
metro id       0
area name      0
county name    0
state          0
dtype: int64

In [11]:
# Check for null values in housing_data
housing_data.isnull().sum()

State                         0
County Name                   0
Metropolitan/FMR Area Name    0
1-Unit                        0
2-unit                        0
3-unit                        0
4-unit                        0
1-Unit.1                      0
2-unit.1                      0
3-unit.1                      0
4-unit.1                      0
metro id                      0
dtype: int64

In [12]:
# Set metro code as index for both tables
housing_data = housing_data.set_index('metro id')
rent_data = rent_data.set_index('metro id')

In [13]:
# Join housing_data and rent_data tables
housing_cost_df = pd.merge(housing_data, rent_data, on='metro id', how='inner')
housing_cost_df.head()

,State,County Name,Metropolitan/FMR Area Name,1-Unit,2-unit,3-unit,4-unit,1-Unit.1,2-unit.1,3-unit.1,4-unit.1,studio rent,1 bdrm rent,2 bdrm rent,3 bdrm rent,4 bdrm rent,area name,county name,state
metro id,,,,,,,,,,,,,,,,,,,
METRO13820M13820,AL,Jefferson County,"Birmingham-Hoover, AL HUD Metro FMR Area","$199,000","$254,000","$308,000","$381,000","$243,000","$311,000","$377,000","$467,000",817,871,1002,1303,1409,"Birmingham-Hoover, AL HUD Metro FMR Area",Bibb County,AL
METRO13820M13820,AL,Jefferson County,"Birmingham-Hoover, AL HUD Metro FMR Area","$199,000","$254,000","$308,000","$381,000","$243,000","$311,000","$377,000","$467,000",817,871,1002,1303,1409,"Birmingham-Hoover, AL HUD Metro FMR Area",Blount County,AL
METRO13820M13820,AL,Jefferson County,"Birmingham-Hoover, AL HUD Metro FMR Area","$199,000","$254,000","$308,000","$381,000","$243,000","$311,000","$377,000","$467,000",817,871,1002,1303,1409,"Birmingham-Hoover, AL HUD Metro FMR Area",Jefferson County,AL
METRO13820M13820,AL,Jefferson County,"Birmingham-Hoover, AL HUD Metro FMR Area","$199,000","$254,000","$308,000","$381,000","$243,000","$311,000","$377,000","$467,000",817,871,1002,1303,1409,"Birmingham-Hoover, AL HUD Metro FMR Area",St. Clair County,AL
METRO13820M13820,AL,Jefferson County,"Birmingham-Hoover, AL HUD Metro FMR Area","$199,000","$254,000","$308,000","$381,000","$243,000","$311,000","$377,000","$467,000",817,871,1002,1303,1409,"Birmingham-Hoover, AL HUD Metro FMR Area",Shelby County,AL

In [14]:
# Drop repeat columns
housing_cost_df = housing_cost_df.drop(columns=['area name', 'county name', 'state'])
housing_cost_df.tail()

,State,County Name,Metropolitan/FMR Area Name,1-Unit,2-unit,3-unit,4-unit,1-Unit.1,2-unit.1,3-unit.1,4-unit.1,studio rent,1 bdrm rent,2 bdrm rent,3 bdrm rent,4 bdrm rent
metro id,,,,,,,,,,,,,,,,
NCNTY72923N72923,PR,Vieques Municipio,Puerto Rico HUD Nonmetro Area,"$121,000","$155,000","$188,000","$233,000","$243,000","$311,000","$377,000","$467,000",361,369,421,561,623
NCNTY72923N72923,PR,Vieques Municipio,Puerto Rico HUD Nonmetro Area,"$121,000","$155,000","$188,000","$233,000","$243,000","$311,000","$377,000","$467,000",361,369,421,561,623
NCNTY78010N78010,VI,St. Croix,"St. Croix Island, VI","$219,000","$280,000","$339,000","$420,000","$243,000","$311,000","$377,000","$467,000",835,852,1040,1294,1410
NCNTY78020N78020,VI,St. John,"St. John Island, VI","$444,000","$569,000","$689,000","$853,000","$444,000","$569,000","$689,000","$853,000",1109,1314,1633,2031,2214
NCNTY78030N78030,VI,St. Thomas,"St. Thomas Island, VI","$332,000","$425,000","$515,000","$638,000","$332,000","$425,000","$515,000","$638,000",797,962,1204,1498,1633

In [15]:
# Create a list of the city names to search for in the Metropolitan/FMR Area Name column of the housing_cost_df
search_for = ['New York',
              'Los Angeles',
              'Chicago',
              'Houston',
              'Phoenix',
              'Philadelphia',
              'San Antonio',
              'San Diego',
              'Dallas',
              'San Jose',
              'Austin',
              'Jacksonville',
              'Fort Worth',
              'Columbus',
              'Indianapolis',
              'Charlotte',
              'San Francisco',
              'Seattle',
              'Denver',
              'DC',
              'Nashville',
              'Oklahoma City',
              'El Paso',
              'Boston',
              'Portland'
]

# Search for names of cities in housing_cost_df 
filtered_housing_df = housing_cost_df[(housing_cost_df['Metropolitan/FMR Area Name'].str.contains('|'.join(search_for)))]

# Check new DataFrame
filtered_housing_df

,State,County Name,Metropolitan/FMR Area Name,1-Unit,2-unit,3-unit,4-unit,1-Unit.1,2-unit.1,3-unit.1,4-unit.1,studio rent,1 bdrm rent,2 bdrm rent,3 bdrm rent,4 bdrm rent
metro id,,,,,,,,,,,,,,,,
METRO17980M17980,AL,Russell County,"Columbus, GA-AL MSA","$150,000","$193,000","$233,000","$289,000","$243,000","$311,000","$377,000","$467,000",644,717,832,1118,1441
METRO17980M17980,AL,Russell County,"Columbus, GA-AL MSA","$150,000","$193,000","$233,000","$289,000","$243,000","$311,000","$377,000","$467,000",644,717,832,1118,1441
METRO17980M17980,AL,Russell County,"Columbus, GA-AL MSA","$150,000","$193,000","$233,000","$289,000","$243,000","$311,000","$377,000","$467,000",644,717,832,1118,1441
METRO17980M17980,AL,Russell County,"Columbus, GA-AL MSA","$150,000","$193,000","$233,000","$289,000","$243,000","$311,000","$377,000","$467,000",644,717,832,1118,1441
METRO17980M17980,AL,Russell County,"Columbus, GA-AL MSA","$150,000","$193,000","$233,000","$289,000","$243,000","$311,000","$377,000","$467,000",644,717,832,1118,1441
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NCNTY51037N51037,VA,Charlotte County,"Charlotte County, VA","$170,000","$218,000","$263,000","$326,000","$243,000","$311,000","$377,000","$467,000",472,556,701,913,951
METRO42660MM7600,WA,King County,"Seattle-Bellevue, WA HUD Metro FMR Area","$489,000","$626,000","$758,000","$939,000","$522,000","$669,000","$810,000","$1,003,000",1523,1599,1906,2694,3172
METRO42660MM7600,WA,King County,"Seattle-Bellevue, WA HUD Metro FMR Area","$489,000","$626,000","$758,000","$939,000","$522,000","$669,000","$810,000","$1,003,000",1523,1599,1906,2694,3172
METRO42660MM7600,WA,Snohomish County,"Seattle-Bellevue, WA HUD Metro FMR Area","$466,000","$597,000","$723,000","$896,000","$466,000","$597,000","$723,000","$896,000",1523,1599,1906,2694,3172
METRO42660MM7600,WA,Snohomish County,"Seattle-Bellevue, WA HUD Metro FMR Area","$466,000","$597,000","$723,000","$896,000","$466,000","$597,000","$723,000","$896,000",1523,1599,1906,2694,3172

In [16]:
# Check for duplicate rows
filtered_housing_df.duplicated()

metro id
METRO17980M17980    False
METRO17980M17980     True
METRO17980M17980     True
METRO17980M17980     True
METRO17980M17980     True
                    ...
NCNTY51037N51037    False
METRO42660MM7600    False
METRO42660MM7600     True
METRO42660MM7600    False
METRO42660MM7600     True
Length: 2019, dtype: bool

In [17]:
city_housing_df = filtered_housing_df.drop_duplicates().copy()
city_housing_df

,State,County Name,Metropolitan/FMR Area Name,1-Unit,2-unit,3-unit,4-unit,1-Unit.1,2-unit.1,3-unit.1,4-unit.1,studio rent,1 bdrm rent,2 bdrm rent,3 bdrm rent,4 bdrm rent
metro id,,,,,,,,,,,,,,,,
METRO17980M17980,AL,Russell County,"Columbus, GA-AL MSA","$150,000","$193,000","$233,000","$289,000","$243,000","$311,000","$377,000","$467,000",644,717,832,1118,1441
METRO17980M17980,GA,Chattahoochee County,"Columbus, GA-AL MSA","$170,000","$218,000","$263,000","$326,000","$243,000","$311,000","$377,000","$467,000",644,717,832,1118,1441
METRO17980M17980,GA,Harris County,"Columbus, GA-AL MSA","$222,000","$285,000","$345,000","$427,000","$253,000","$324,000","$392,000","$486,000",644,717,832,1118,1441
METRO17980M17980,GA,Marion County,"Columbus, GA-AL MSA","$170,000","$218,000","$263,000","$326,000","$243,000","$311,000","$377,000","$467,000",644,717,832,1118,1441
METRO17980M17980,GA,Muscogee County,"Columbus, GA-AL MSA","$170,000","$218,000","$263,000","$326,000","$243,000","$311,000","$377,000","$467,000",644,717,832,1118,1441
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
METRO16820M16820,VA,Nelson County,"Charlottesville, VA HUD Metro FMR Area","$285,000","$365,000","$442,000","$547,000","$285,000","$365,000","$442,000","$547,000",949,1077,1266,1575,1965
METRO16820M16820,VA,Charlottesville city,"Charlottesville, VA HUD Metro FMR Area","$311,000","$398,000","$482,000","$597,000","$316,000","$405,000","$490,000","$607,000",949,1077,1266,1575,1965
NCNTY51037N51037,VA,Charlotte County,"Charlotte County, VA","$170,000","$218,000","$263,000","$326,000","$243,000","$311,000","$377,000","$467,000",472,556,701,913,951
METRO42660MM7600,WA,King County,"Seattle-Bellevue, WA HUD Metro FMR Area","$489,000","$626,000","$758,000","$939,000","$522,000","$669,000","$810,000","$1,003,000",1523,1599,1906,2694,3172
METRO42660MM7600,WA,Snohomish County,"Seattle-Bellevue, WA HUD Metro FMR Area","$466,000","$597,000","$723,000","$896,000","$466,000","$597,000","$723,000","$896,000",1523,1599,1906,2694,3172

In [18]:
# Create list for state abbreviations for 25 most populous cities
st_search_for = ['NY',
                 'CA',
                 'TX',
                 'AZ',
                 'PA',
                 'FL',
                 'OH',
                 'IN',
                 'IL',
                 'NC',
                 'WA',
                 'CO',
                 'TN',
                 'OK',
                 'MA',
                 'DC',
                 'OR',
]

# Filter data for states that contain the appropriate cities (This is because some city names are located in multiple states)
clean_housing_df = city_housing_df[(city_housing_df['State'].str.contains('|'.join(st_search_for)))]
clean_housing_df.sort_values('State').head(25)

,State,County Name,Metropolitan/FMR Area Name,1-Unit,2-unit,3-unit,4-unit,1-Unit.1,2-unit.1,3-unit.1,4-unit.1,studio rent,1 bdrm rent,2 bdrm rent,3 bdrm rent,4 bdrm rent
metro id,,,,,,,,,,,,,,,,
METRO38060M38060,AZ,Maricopa County,"Phoenix-Mesa-Scottsdale, AZ MSA","$258,000","$330,000","$400,000","$495,000","$258,000","$330,000","$400,000","$495,000",933,1032,1251,1765,2010
METRO38060M38060,AZ,Pinal County,"Phoenix-Mesa-Scottsdale, AZ MSA","$252,000","$322,000","$390,000","$483,000","$252,000","$322,000","$390,000","$483,000",933,1032,1251,1765,2010
METRO31080MM4480,CA,Los Angeles County,"Los Angeles-Long Beach-Glendale, CA HUD Metro ...","$510,000","$652,000","$790,000","$979,000","$510,000","$652,000","$790,000","$979,000",1369,1605,2058,2735,2982
METRO41740M41740,CA,San Diego County,"San Diego-Carlsbad, CA MSA","$518,000","$663,000","$803,000","$994,000","$518,000","$663,000","$803,000","$994,000",1478,1642,2124,2987,3677
METRO41860MM7360,CA,Marin County,"San Francisco, CA HUD Metro FMR Area","$664,000","$850,000","$1,029,000","$1,275,000","$664,000","$850,000","$1,029,000","$1,275,000",2350,2923,3553,4567,4970
METRO41860MM7360,CA,San Francisco County,"San Francisco, CA HUD Metro FMR Area","$664,000","$850,000","$1,029,000","$1,275,000","$664,000","$850,000","$1,029,000","$1,275,000",2350,2923,3553,4567,4970
METRO41860MM7360,CA,San Mateo County,"San Francisco, CA HUD Metro FMR Area","$664,000","$850,000","$1,029,000","$1,275,000","$664,000","$850,000","$1,029,000","$1,275,000",2350,2923,3553,4567,4970
METRO41940M41940,CA,Santa Clara County,"San Jose-Sunnyvale-Santa Clara, CA HUD Metro F...","$665,000","$851,000","$1,031,000","$1,277,000","$665,000","$851,000","$1,031,000","$1,277,000",2228,2558,3051,3984,4593
METRO19740M19740,CO,Park County,"Denver-Aurora-Lakewood, CO MSA","$382,000","$489,000","$593,000","$734,000","$398,000","$509,000","$616,000","$763,000",1179,1304,1605,2186,2486
METRO19740M19740,CO,Jefferson County,"Denver-Aurora-Lakewood, CO MSA","$413,000","$529,000","$641,000","$793,000","$449,000","$574,000","$696,000","$862,000",1179,1304,1605,2186,2486
METRO19740M19740,CO,Gilpin County,"Denver-Aurora-Lakewood, CO MSA","$382,000","$489,000","$593,000","$734,000","$398,000","$509,000","$616,000","$763,000",1179,1304,1605,2186,2486
METRO19740M19740,CO,Elbert County,"Denver-Aurora-Lakewood, CO MSA","$429,000","$550,000","$666,000","$824,000","$429,000","$550,000","$666,000","$824,000",1179,1304,1605,2186,2486
METRO19740M19740,CO,Douglas County,"Denver-Aurora-Lakewood, CO MSA","$418,000","$535,000","$648,000","$803,000","$437,000","$559,000","$677,000","$839,000",1179,1304,1605,2186,2486
METRO19740M19740,CO,Broomfield County,"Denver-Aurora-Lakewood, CO MSA","$403,000","$515,000","$624,000","$773,000","$427,000","$547,000","$662,000","$820,000",1179,1304,1605,2186,2486
METRO19740M19740,CO,Clear Creek County,"Denver-Aurora-Lakewood, CO MSA","$382,000","$489,000","$593,000","$734,000","$398,000","$509,000","$616,000","$763,000",1179,1304,1605,2186,2486
METRO19740M19740,CO,Arapahoe County,"Denver-Aurora-Lakewood, CO MSA","$382,000","$489,000","$593,000","$734,000","$398,000","$509,000","$616,000","$763,000",1179,1304,1605,2186,2486
METRO19740M19740,CO,Adams County,"Denver-Aurora-Lakewood, CO MSA","$382,000","$489,000","$593,000","$734,000","$398,000","$509,000","$616,000","$763,000",1179,1304,1605,2186,2486
METRO19740M19740,CO,Denver County,"Denver-Aurora-Lakewood, CO MSA","$417,000","$534,000","$646,000","$801,000","$417,000","$534,000","$646,000","$801,000",1179,1304,1605,2186,2486
METRO47900M47900,DC,District of Columbia,"Washington-Arlington-Alexandria, DC-VA-MD HUD ...","$485,000","$620,000","$751,000","$930,000","$485,000","$620,000","$751,000","$930,000",1513,1548,1765,2263,2742
METRO27260M27260,FL,Duval County,"Jacksonville, FL HUD Metro FMR Area","$209,000","$268,000","$324,000","$401,000","$243,000","$311,000","$377,000","$467,000",746,921,1113,1455,1852
METRO27260M27260,FL,St. Johns County,"Jacksonville, FL HUD Metro FMR Area","$274,000","$350,000","$424,000","$525,000","$280,000","$359,000","$434,000","$538,000",746,921,1113,1455,1852
METRO27260M27260,FL,Nassau County,"Jacksonville, FL HUD Metro FMR Area","$237,000","$303,000","$367,000","$454,000","$243,000","$311,000","$377,000","$467,000",746,921,1113,1455,1852
METRO27260M27260,FL,Clay County,"Jacksonville, FL HUD Metro FMR Area","$209,000","$268,000","$324,000","$401,000","$243,000","$311,000","$377,000","$467,000",746,921,1113,1455,1852
METRO16980M16980,IL,McHenry County,"Chicago-Joliet-Naperville, IL HUD Metro FMR Area","$240,000","$307,000","$372,000","$461,000","$272,000","$348,000","$421,000","$522,000",1012,1122,1299,1649,1969
METRO16980M16980,IL,Cook County,"Chicago-Joliet-Naperville, IL HUD Metro FMR Area","$244,000","$312,000","$378,000","$468,000","$313,000","$400,000","$484,000","$600,000",1012,1122,1299,1649,1969

In [19]:
# For simplicity, drop 1-Unit.1, 2-unit.1, 3-unit.1 4-unit.1
clean_housing_df = clean_housing_df.drop(columns=['1-Unit.1', '2-unit.1', '3-unit.1', '4-unit.1'])
clean_housing_df

,State,County Name,Metropolitan/FMR Area Name,1-Unit,2-unit,3-unit,4-unit,studio rent,1 bdrm rent,2 bdrm rent,3 bdrm rent,4 bdrm rent
metro id,,,,,,,,,,,,
METRO38060M38060,AZ,Maricopa County,"Phoenix-Mesa-Scottsdale, AZ MSA","$258,000","$330,000","$400,000","$495,000",933,1032,1251,1765,2010
METRO38060M38060,AZ,Pinal County,"Phoenix-Mesa-Scottsdale, AZ MSA","$252,000","$322,000","$390,000","$483,000",933,1032,1251,1765,2010
METRO31080MM4480,CA,Los Angeles County,"Los Angeles-Long Beach-Glendale, CA HUD Metro ...","$510,000","$652,000","$790,000","$979,000",1369,1605,2058,2735,2982
METRO41740M41740,CA,San Diego County,"San Diego-Carlsbad, CA MSA","$518,000","$663,000","$803,000","$994,000",1478,1642,2124,2987,3677
METRO41860MM7360,CA,Marin County,"San Francisco, CA HUD Metro FMR Area","$664,000","$850,000","$1,029,000","$1,275,000",2350,2923,3553,4567,4970
...,...,...,...,...,...,...,...,...,...,...,...,...
METRO41700M41700,TX,Guadalupe County,"San Antonio-New Braunfels, TX HUD Metro FMR Area","$214,000","$274,000","$331,000","$410,000",761,912,1114,1446,1793
METRO41700M41700,TX,Wilson County,"San Antonio-New Braunfels, TX HUD Metro FMR Area","$261,000","$334,000","$405,000","$502,000",761,912,1114,1446,1793
NCNTY48225N48225,TX,Houston County,"Houston County, TX","$162,000","$207,000","$250,000","$310,000",538,557,734,913,995
METRO42660MM7600,WA,King County,"Seattle-Bellevue, WA HUD Metro FMR Area","$489,000","$626,000","$758,000","$939,000",1523,1599,1906,2694,3172
METRO42660MM7600,WA,Snohomish County,"Seattle-Bellevue, WA HUD Metro FMR Area","$466,000","$597,000","$723,000","$896,000",1523,1599,1906,2694,3172

In [20]:
# There are still rows not pertaining to appropriate cities due to naming similarities. Dataset is much smaller and can filter out unneccessary cities by name
clean_housing_data = clean_housing_df.reset_index()
clean_housing_data = clean_housing_data.set_index('Metropolitan/FMR Area Name')
clean_housing_data = clean_housing_data.drop(['Columbus, IN MSA', 
                                              'Jacksonville, NC MSA', 
                                              'Columbus County, NC', 
                                              'Houston County, TN', 
                                              'Austin County, TX HUD Metro FMR Area', 
                                              'Houston County, TX'])
clean_housing_data = clean_housing_data.reset_index()
clean_housing_data

,Metropolitan/FMR Area Name,metro id,State,County Name,1-Unit,2-unit,3-unit,4-unit,studio rent,1 bdrm rent,2 bdrm rent,3 bdrm rent,4 bdrm rent
0,"Phoenix-Mesa-Scottsdale, AZ MSA",METRO38060M38060,AZ,Maricopa County,"$258,000","$330,000","$400,000","$495,000",933,1032,1251,1765,2010
1,"Phoenix-Mesa-Scottsdale, AZ MSA",METRO38060M38060,AZ,Pinal County,"$252,000","$322,000","$390,000","$483,000",933,1032,1251,1765,2010
2,"Los Angeles-Long Beach-Glendale, CA HUD Metro ...",METRO31080MM4480,CA,Los Angeles County,"$510,000","$652,000","$790,000","$979,000",1369,1605,2058,2735,2982
3,"San Diego-Carlsbad, CA MSA",METRO41740M41740,CA,San Diego County,"$518,000","$663,000","$803,000","$994,000",1478,1642,2124,2987,3677
4,"San Francisco, CA HUD Metro FMR Area",METRO41860MM7360,CA,Marin County,"$664,000","$850,000","$1,029,000","$1,275,000",2350,2923,3553,4567,4970
...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,"San Antonio-New Braunfels, TX HUD Metro FMR Area",METRO41700M41700,TX,Comal County,"$247,000","$316,000","$383,000","$474,000",761,912,1114,1446,1793
114,"San Antonio-New Braunfels, TX HUD Metro FMR Area",METRO41700M41700,TX,Guadalupe County,"$214,000","$274,000","$331,000","$410,000",761,912,1114,1446,1793
115,"San Antonio-New Braunfels, TX HUD Metro FMR Area",METRO41700M41700,TX,Wilson County,"$261,000","$334,000","$405,000","$502,000",761,912,1114,1446,1793
116,"Seattle-Bellevue, WA HUD Metro FMR Area",METRO42660MM7600,WA,King County,"$489,000","$626,000","$758,000","$939,000",1523,1599,1906,2694,3172
117,"Seattle-Bellevue, WA HUD Metro FMR Area",METRO42660MM7600,WA,Snohomish County,"$466,000","$597,000","$723,000","$896,000",1523,1599,1906,2694,3172

In [21]:
# Drop metro id column
clean_housing_data = clean_housing_data.drop(columns='metro id')
clean_housing_data.head()

,Metropolitan/FMR Area Name,State,County Name,1-Unit,2-unit,3-unit,4-unit,studio rent,1 bdrm rent,2 bdrm rent,3 bdrm rent,4 bdrm rent
0,"Phoenix-Mesa-Scottsdale, AZ MSA",AZ,Maricopa County,"$258,000","$330,000","$400,000","$495,000",933,1032,1251,1765,2010
1,"Phoenix-Mesa-Scottsdale, AZ MSA",AZ,Pinal County,"$252,000","$322,000","$390,000","$483,000",933,1032,1251,1765,2010
2,"Los Angeles-Long Beach-Glendale, CA HUD Metro ...",CA,Los Angeles County,"$510,000","$652,000","$790,000","$979,000",1369,1605,2058,2735,2982
3,"San Diego-Carlsbad, CA MSA",CA,San Diego County,"$518,000","$663,000","$803,000","$994,000",1478,1642,2124,2987,3677
4,"San Francisco, CA HUD Metro FMR Area",CA,Marin County,"$664,000","$850,000","$1,029,000","$1,275,000",2350,2923,3553,4567,4970

In [22]:
# Save table as CSV file in Clean_Data folder
clean_housing_data.to_csv('Clean_Data/clean_housing_data.csv', index=False)

In [23]:
# Remove $ from housing prices
# 1 Unit
clean_housing_data['1-Unit'] = clean_housing_data['1-Unit'].str.replace('$', '')
clean_housing_data['1-Unit'] = clean_housing_data['1-Unit'].str.replace(',', '')
clean_housing_data['1-Unit'] = clean_housing_data['1-Unit'].astype('float')

# 2 Unit
clean_housing_data['2-unit'] = clean_housing_data['2-unit'].str.replace('$', '')
clean_housing_data['2-unit'] = clean_housing_data['2-unit'].str.replace(',', '')
clean_housing_data['2-unit'] = clean_housing_data['2-unit'].astype('float')

# 3 Unit
clean_housing_data['3-unit'] = clean_housing_data['3-unit'].str.replace('$', '')
clean_housing_data['3-unit'] = clean_housing_data['3-unit'].str.replace(',', '')
clean_housing_data['3-unit'] = clean_housing_data['3-unit'].astype('float')

# 4 Unit
clean_housing_data['4-unit'] = clean_housing_data['4-unit'].str.replace('$', '')
clean_housing_data['4-unit'] = clean_housing_data['4-unit'].str.replace(',', '')
clean_housing_data['4-unit'] = clean_housing_data['4-unit'].astype('float')

/Users/jacobeckhardt/opt/anaconda3/envs/pyvizenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/jacobeckhardt/opt/anaconda3/envs/pyvizenv/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.

/Users/jacobeckhardt/opt/anaconda3/envs/pyvizenv/lib/python3.7/site-packages/ipykernel_launcher.py:13: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  del sys.path[0]
/Users/jacobeckhardt/opt/anaconda3/envs/pyvizenv/lib/python3.7/site-packages/ipykernel_launcher.py:18: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.

In [24]:
# Group housing data by cities
clean_housing_data_grp = clean_housing_data.groupby('Metropolitan/FMR Area Name').mean().round(2)
clean_housing_data_grp

,1-Unit,2-unit,3-unit,4-unit,studio rent,1 bdrm rent,2 bdrm rent,3 bdrm rent,4 bdrm rent
Metropolitan/FMR Area Name,,,,,,,,,
"Austin-Round Rock, TX MSA",276400.00,353400.00,428200.00,531000.00,1059,1212,1434,1848,2207
"Boston-Cambridge-Quincy, MA-NH HUD Metro FMR Area",456400.00,583800.00,707000.00,875600.00,1742,1924,2336,2906,3168
"Charlotte-Concord-Gastonia, NC-SC HUD Metro FMR Area",234750.00,300000.00,363750.00,450500.00,987,1010,1151,1518,1956
"Chicago-Joliet-Naperville, IL HUD Metro FMR Area",249166.67,318666.67,386166.67,478333.33,1012,1122,1299,1649,1969
"Columbus, OH HUD Metro FMR Area",209714.29,268285.71,324571.43,402142.86,717,827,1031,1298,1468
"Dallas, TX HUD Metro FMR Area",254857.14,326285.71,394857.14,489142.86,1029,1134,1352,1746,2309
"Denver-Aurora-Lakewood, CO MSA",399000.00,510800.00,619000.00,766400.00,1179,1304,1605,2186,2486
"El Paso, TX HUD Metro FMR Area",162000.00,207000.00,250000.00,310000.00,548,687,831,1174,1415
"Fort Worth-Arlington, TX HUD Metro FMR Area",233666.67,299000.00,361666.67,448333.33,901,1021,1242,1661,2077
"Houston-The Woodlands-Sugar Land, TX HUD Metro FMR Area",217857.14,278571.43,337714.29,418142.86,908,983,1176,1576,2010
"Indianapolis-Carmel, IN HUD Metro FMR Area",192111.11,245555.56,297333.33,368222.22,678,781,946,1248,1455
"Jacksonville, FL HUD Metro FMR Area",232250.00,297250.00,359750.00,445250.00,746,921,1113,1455,1852
"Los Angeles-Long Beach-Glendale, CA HUD Metro FMR Area",510000.00,652000.00,790000.00,979000.00,1369,1605,2058,2735,2982
"Nashville-Davidson--Murfreesboro--Franklin, TN HUD Metro FMR Area",280700.00,359000.00,434900.00,539200.00,998,1031,1197,1539,1930
"New York, NY HUD Metro FMR Area",534857.14,684714.29,829000.00,1026857.14,1760,1801,2053,2598,2784
"Oklahoma City, OK HUD Metro FMR Area",167800.00,215000.00,260000.00,322000.00,705,738,918,1238,1488
"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA",278600.00,356800.00,432000.00,535200.00,900,1040,1260,1567,1796
"Phoenix-Mesa-Scottsdale, AZ MSA",255000.00,326000.00,395000.00,489000.00,933,1032,1251,1765,2010
"Portland-Vancouver-Hillsboro, OR-WA MSA",383142.86,490285.71,593285.71,735142.86,1245,1331,1536,2193,2657
"San Antonio-New Braunfels, TX HUD Metro FMR Area",224200.00,286800.00,347400.00,430400.00,761,912,1114,1446,1793
"San Diego-Carlsbad, CA MSA",518000.00,663000.00,803000.00,994000.00,1478,1642,2124,2987,3677
"San Francisco, CA HUD Metro FMR Area",664000.00,850000.00,1029000.00,1275000.00,2350,2923,3553,4567,4970
"San Jose-Sunnyvale-Santa Clara, CA HUD Metro FMR Area",665000.00,851000.00,1031000.00,1277000.00,2228,2558,3051,3984,4593
"Seattle-Bellevue, WA HUD Metro FMR Area",477500.00,611500.00,740500.00,917500.00,1523,1599,1906,2694,3172
"Washington-Arlington-Alexandria, DC-VA-MD HUD Metro FMR Area",485000.00,620000.00,751000.00,930000.00,1513,1548,1765,2263,2742

In [25]:
# Rename Metropolitan/FMR Area Name to the primary city
housing_data_grp = clean_housing_data_grp.reset_index()
housing_data_grp['Metropolitan/FMR Area Name'].replace({'Austin-Round Rock, TX MSA': 'Austin, TX',
                                                        'Boston-Cambridge-Quincy, MA-NH HUD Metro FMR Area': 'Boston, MA',
                                                        'Charlotte-Concord-Gastonia, NC-SC HUD Metro FMR Area': 'Charlotte, NC',
                                                        'Chicago-Joliet-Naperville, IL HUD Metro FMR Area': 'Chicago, IL',
                                                        'Columbus, OH HUD Metro FMR Area': 'Columbus, OH',
                                                        'Dallas, TX HUD Metro FMR Area': 'Dallas, TX',
                                                        'Denver-Aurora-Lakewood, CO MSA': 'Denver, CO',
                                                        'El Paso, TX HUD Metro FMR Area': 'El Paso, TX',
                                                        'Fort Worth-Arlington, TX HUD Metro FMR Area': 'Fort Worth, TX',
                                                        'Houston-The Woodlands-Sugar Land, TX HUD Metro FMR Area': 'Houston, TX',
                                                        'Indianapolis-Carmel, IN HUD Metro FMR Area': 'Indianapolis, IN',
                                                        'Jacksonville, FL HUD Metro FMR Area': 'Jacksonville, FL',
                                                        'Los Angeles-Long Beach-Glendale, CA HUD Metro FMR Area': 'Los Angeles, CA',
                                                        'Nashville-Davidson--Murfreesboro--Franklin, TN HUD Metro FMR Area': 'Nashville, TN',
                                                        'New York, NY HUD Metro FMR Area': 'New York City, NY',
                                                        'Oklahoma City, OK HUD Metro FMR Area': 'Oklahoma City, OK',
                                                        'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA': 'Philadelphia, PA',
                                                        'Phoenix-Mesa-Scottsdale, AZ MSA': 'Phoenix, AZ',
                                                        'Portland-Vancouver-Hillsboro, OR-WA MSA': 'Portland, OR',
                                                        'San Antonio-New Braunfels, TX HUD Metro FMR Area': 'San Antonio, TX',
                                                        'San Diego-Carlsbad, CA MSA': 'San Diego, CA',
                                                        'San Francisco, CA HUD Metro FMR Area': 'San Francisco, CA',
                                                        'San Jose-Sunnyvale-Santa Clara, CA HUD Metro FMR Area': 'San Jose, CA',
                                                        'Seattle-Bellevue, WA HUD Metro FMR Area': 'Seattle, WA',
                                                        'Washington-Arlington-Alexandria, DC-VA-MD HUD Metro FMR Area': 'Washington D.C.'
                                                       }, inplace=True)
housing_data_grp

,Metropolitan/FMR Area Name,1-Unit,2-unit,3-unit,4-unit,studio rent,1 bdrm rent,2 bdrm rent,3 bdrm rent,4 bdrm rent
0,"Austin, TX",276400.00,353400.00,428200.00,531000.00,1059,1212,1434,1848,2207
1,"Boston, MA",456400.00,583800.00,707000.00,875600.00,1742,1924,2336,2906,3168
2,"Charlotte, NC",234750.00,300000.00,363750.00,450500.00,987,1010,1151,1518,1956
3,"Chicago, IL",249166.67,318666.67,386166.67,478333.33,1012,1122,1299,1649,1969
4,"Columbus, OH",209714.29,268285.71,324571.43,402142.86,717,827,1031,1298,1468
5,"Dallas, TX",254857.14,326285.71,394857.14,489142.86,1029,1134,1352,1746,2309
6,"Denver, CO",399000.00,510800.00,619000.00,766400.00,1179,1304,1605,2186,2486
7,"El Paso, TX",162000.00,207000.00,250000.00,310000.00,548,687,831,1174,1415
8,"Fort Worth, TX",233666.67,299000.00,361666.67,448333.33,901,1021,1242,1661,2077
9,"Houston, TX",217857.14,278571.43,337714.29,418142.86,908,983,1176,1576,2010
10,"Indianapolis, IN",192111.11,245555.56,297333.33,368222.22,678,781,946,1248,1455
11,"Jacksonville, FL",232250.00,297250.00,359750.00,445250.00,746,921,1113,1455,1852
12,"Los Angeles, CA",510000.00,652000.00,790000.00,979000.00,1369,1605,2058,2735,2982
13,"Nashville, TN",280700.00,359000.00,434900.00,539200.00,998,1031,1197,1539,1930
14,"New York City, NY",534857.14,684714.29,829000.00,1026857.14,1760,1801,2053,2598,2784
15,"Oklahoma City, OK",167800.00,215000.00,260000.00,322000.00,705,738,918,1238,1488
16,"Philadelphia, PA",278600.00,356800.00,432000.00,535200.00,900,1040,1260,1567,1796
17,"Phoenix, AZ",255000.00,326000.00,395000.00,489000.00,933,1032,1251,1765,2010
18,"Portland, OR",383142.86,490285.71,593285.71,735142.86,1245,1331,1536,2193,2657
19,"San Antonio, TX",224200.00,286800.00,347400.00,430400.00,761,912,1114,1446,1793
20,"San Diego, CA",518000.00,663000.00,803000.00,994000.00,1478,1642,2124,2987,3677
21,"San Francisco, CA",664000.00,850000.00,1029000.00,1275000.00,2350,2923,3553,4567,4970
22,"San Jose, CA",665000.00,851000.00,1031000.00,1277000.00,2228,2558,3051,3984,4593
23,"Seattle, WA",477500.00,611500.00,740500.00,917500.00,1523,1599,1906,2694,3172
24,Washington D.C.,485000.00,620000.00,751000.00,930000.00,1513,1548,1765,2263,2742

In [28]:
# Save new file as CSV
housing_data_grp.to_csv('Clean_Data/grouped_housing_data.csv', index=False)